    *{
        margin: 0;
    }

    body{
      background-image: linear-gradient(to bottom,#fdfcfb, #e2d1c3);
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    p{
      font-size: 24px;
      font-weight: 300;
      line-height:25px;
      color: black;
    }
    h1{
      font-size: 30px;
      font-weight: 400;
      font-family: sans-serif;
      color: black;
    }
    h1:hover{
      background-image: linear-gradient(to right,#81dabe,#092c50);  
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
    h2{
      font-size: 27px;
      font-weight: bold;
      color: rebeccapurple;
    }
    h2:hover{
      color: rosybrown;
      text-shadow: 5px 5px 5px black;
    }

     /* NAVBAR */
    #navbar{
      display: block;
      width: 100%;
      height: 70px;
      background-color: rgb(219, 219, 219);
    }

    #navbar a{
        color: black;
      text-decoration:none;
      font-size: 24px; 
    }

    #navbar a:hover{
      cursor:pointer; 
      color: royalblue;
    }
    
    #navbar ul li, ul{
      
      display: inline-block;
      padding-left: 10px;
    }

    #logo{
      border-radius: 50%;
      height: 40px;
      width: 40px;
      vertical-align: middle;
    }

    #logocon{
        margin: 15px;
      display: inline-block;
    }

     /*HERO-SECTION*/
    .text{
      display: inline-block;
      margin: 5px;
      width: 600px;
    }

    #pic{
      position: relative;
      top: 15px;
      right: 5%;
      float: right;
    }

    #home{
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
    }



    button{
        height: 30px;
        width: 80px;
        margin: 5px;
        text-decoration: none;
        border: 0;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
    }
    #butt1{
        background-color: royalblue;
        color: white;
    }

    #butt2{
        background-color: white;
        color: black;
    }
    .text h1{
        padding-bottom: 10px;
    }
    .text a{
        text-decoration: none;
    }

    #butt1:hover, #butt2:hover{
        border: 1px solid black;
    }


    #about-me{
      height: 200px;
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
      border-bottom: 1px solid black;
    }

    #about-me p{
      line-height: 40px;
      font-size: 30px;
      font-weight: bold;
      background-image: linear-gradient(45deg, #1927e6, #cf45ad,yellow);      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }



    #projects h2{
      text-align: center;
    }

    #projects div{
      margin: 20px;
      justify-content: space-between;
    }
